/vendor
/node_modules

.env.example
.env.backup
.phpunit.result.cache

/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

.git
.gitignore
.vscode
.idea

.DS_Store
Thumbs.up